$primary-color: #444;
$secondary-color: #eece1a;
$show-home-img: true;
$home-img: url(../img/background.jpg);
$background-opacity: 0.9;


@mixin easeOut {
    transition: all .7s ease-out;
}

@mixin background {

    //If statement to know if the home image should be visible - used when menu not engaged
    @if $show-home-img {

        //Apply to body tag with id of bg-img 
        &#bg-img {
            background: $home-img;
            background-attachment: fixed;
            background-size: cover;

            //Add pseudo element to apply the overlay 
            &:after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                background-color: rgba($primary-color, $background-opacity);
            }
        }
    }

}